#!/bin/bash

# Delete branches starting with 'pr_'
alias grmpr="git branch | grep "PR-" | xargs git branch -D"
# Delete branches that have been merged
alias grmm="git branch --merged master | grep -v "master" | xargs git branch -d"
# Delete non-master branches
alias grm-non-master="git branch | grep -v "master" | xargs git branch -D"
# cleanup squashed and merged branches
alias grmsm='git checkout -q master && git for-each-ref refs/heads/ "--format=%(refname:short)" | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done'


# ssh management
alias ssh-clear="ssh-add -D"

# dotfiles
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# C4 generation
alias c4='docker run -v $(pwd):/assets plantuml /assets'

# usage: explicit-newlines file
alias explicit-newlines="awk '{printf "%s\\n", $0}'"

# export list of brew formulas and casks for versioning
alias brew-export="brew list --formula -1 > .brew/formula.txt && brew list --cask -1 > .brew/casks.txt"

# switch vault creds to prod
alias vault-prod="export VAULT_ADDR=${VAULT_ADDR_PROD};export VAULT_TOKEN=${VAULT_TOKEN_PROD}; export CONSUL_HTTP_ADDR=${CONSUL_HTTP_ADDR_PROD}"
# switch vault creds to stg
alias vault-stg="export VAULT_ADDR=${VAULT_ADDR_STG};export VAULT_TOKEN=${VAULT_TOKEN_STG}; export CONSUL_HTTP_ADDR=${CONSUL_HTTP_ADDR_STG}"

# run psql against prod postgres db
alias pg-prod="PGPASSWORD='${PG_PROD_PW}' psql -h \"${PG_PROD_HOST}\" -U \"${PG_PROD_USER}\" -d \"${PG_PROD_DB}\" -p \"${PG_PROD_PORT}\""
# dump a postgres table schema
alias pg-ddl-table="PGPASSWORD='${PG_PROD_PW}' pg_dump -h \"${PG_PROD_HOST}\" -U \"${PG_PROD_USER}\" -d \"${PG_PROD_DB}\" -p \"${PG_PROD_PORT}\" --schema-only -t"
alias pg-stg-ddl-table="PGPASSWORD='${PG_STG_PW}' pg_dump -h \"${PG_STG_HOST}\" -U \"${PG_STG_USER}\" -d \"${PG_STG_DB}\" -p \"${PG_STG_PORT}\" --schema-only -t"
alias rs-dump="PGPASSWORD='${_REDSHIFT_PROD_READ_ONLY_PW}' pg_dump -h \"${_REDSHIFT_PROD_HOST}\" -U \"${_REDSHIFT_PROD_READ_ONLY_USER}\" -d \"${_REDSHIFT_PROD_DB}\" -p \"${_REDSHIFT_PROD_PORT}\" --schema-only -t"

alias engops-stg="ssh -p 2222 -i ~/.ssh/id_rsa brad.west@engops.staging.petalcard.com"
alias engops-prod="ssh -p 2222 -i ~/.ssh/id_rsa brad.west@engops.production.petalcard.com"

# dbt container
alias dbtc='docker run --rm -v /Users/brad.west/src/shared/data_warehouse:/dbt -v /tmp:/tmp --env-file env.list dbt'

# sso login
alias awsso-legacy='aws sso login --profile=legacy.prod.1-data-eng'
alias awsso-di-stg='aws sso login --profile=data-inf.stg.1-data-eng'
alias awsso-di-prod='aws sso login --profile=data-inf.prod.1-data-eng'

alias launch-lens='open -a /Applications/Lens.app --hide'

