# Delete branches starting with 'pr_'
alias grmpr="git branch | grep "PR-" | xargs git branch -D"
# Delete branches that have been merged
alias grmm="git branch --merged master | grep -v "master" | xargs git branch -d"
# Delete non-master branches
alias grm-non-master="git branch | grep -v "master" | xargs git branch -D"

alias bi-support="python3 -c 'import time;de_team = (\"@brad.west\",\"@nathaniel.foster\",\"@trenton.smith\",\"@justine.troyke\",\"@matthew.dubbert\",\"@matthew.perreault\");epoch_day = int(time.time() / (24 * 60 * 60));print(de_team[epoch_day % len(de_team)]);'"
alias anser-support="python3 -c 'import time;de_team = (\"@brad.west\",\"@nathaniel.foster\",\"@trenton.smith\");epoch_day = int(time.time() / (24 * 60 * 60));print(de_team[epoch_day % len(de_team)]);'"


# ssh management
alias ssh-clear="ssh-add -D"
alias ssh-personal="ssh-clear; ssh-add ~/.ssh/github_bw_id_ed25519"
alias ssh-work="ssh-clear; ssh-add ~/.ssh/id_rsa"

# java11
alias java11=/usr/local/opt/openjdk@11/bin/java

# Dart
alias ddev="pub run dart_dev"
# Dart dependency hell
alias pubcleanlock='git ls-files pubspec.lock --error-unmatch &>/dev/null && echo "Not removing pubspec.lock - it is tracked" || (rm pubspec.lock && echo "Removed pubspec.lock")'
alias pubclean='rm -r .pub .dart_tool/pub && echo "Removed .pub/"; find . -name packages | xargs rm -rf && echo "Removed packages/"; rm .packages && echo "Removed .packages"; pubcleanlock'
alias repub='pubclean; pub get'

# dotfiles
alias dot='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
# alias cfg='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# black
alias black120='black --line-length=120'

# isort
alias isort120='isort --line-length=120 --force-grid-wrap=0 --use-parentheses'

# Skynet
alias update-skynet='eval "$(docker run --rm drydock.workiva.net/workiva/skynet-cli:latest shell)"'
# alias skynet='docker run --rm drydock.workiva.net/workiva/skynet-cli:latest'

# AWS Token
alias aws-token="~/scripts/get-aws-token.sh"

# C4 generation
# See https://w-dev-blog.appspot.com/posts/2020/06/26/fast-and-easy-architecture-diagrams-with-c4-model/index.html
alias c4="docker run -v $(pwd):/assets plantuml"

# usage: explicit-newlines file
alias explicit-newlines="awk '{printf "%s\\n", $0}'"

