# -*- mode: gitignore; -*-

# -- Emacs -- #
*~
\#*\#
.#*

# -- General -- #
.ignore

# -- Python -- #
.venv
venv
__pycache__/
*.py[cod]
*.egg-info/

# -- dotfiles -- #
.dotfiles

# -- Aider -- #
.env
.aider*

# -- Visual Studio -- #
*.runsettings

