# bare repo for dotfiles
.cfg

# Thumbnails
._*

# vscode
.vscode/

# random files to ignore
.ignore/
.todo

# nose
.noseids

# venv
.venv/

# secrets
.secrets
*.crt
*.csr

# python
__pycache__/

.bak

